servicios-ws-inicial/definicion_servicio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.3-hudson-390-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.atrium.com/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio_WebService"
	targetNamespace="http://servicio.atrium.com/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://servicio.atrium.com/"
				schemaLocation="http://localhost:8080/servicios-ws-inicial/Servicio_WebPort?xsd=1" />
		</xsd:schema>
	</types>
	<!-- INFORMACION DE ENTRADA Y SALIDA A LAS OPERACIONES -->
	<message name="fecha_Actual">
		<part element="tns:fecha_Actual" name="parameters" />
	</message>
	<message name="fecha_ActualResponse">
		<part element="tns:fecha_ActualResponse" name="parameters" />
	</message>
	<message name="saludo">
		<part element="tns:saludo" name="parameters" />
	</message>
	<message name="saludoResponse">
		<part element="tns:saludoResponse" name="parameters" />
	</message>
	<message name="sumar">
		<part element="tns:sumar" name="parameters" />
	</message>
	<message name="sumarResponse">
		<part element="tns:sumarResponse" name="parameters" />
	</message>
	<!-- DEFINICION DE ENTRADA Y SALIDA DE LAS OPERACIONES -->
	<portType name="Servicio_WebDelegate">
		<!-- NOMBRE OPERACION -->
		<operation name="fecha_Actual">
			<!-- TIPOS DE ENTRADA Y SALIDA -->
			<input message="tns:fecha_Actual" />
			<output message="tns:fecha_ActualResponse" />
		</operation>
		<operation name="saludo">
			<input message="tns:saludo" />
			<output message="tns:saludoResponse" />
		</operation>
		<operation name="sumar">
			<input message="tns:sumar" />
			<output message="tns:sumarResponse" />
		</operation>
	</portType>
	<!-- DEFINICION DEL USO DEL SOAP EN LA OPERACIONES -->
	<binding name="Servicio_WebPortBinding" type="tns:Servicio_WebDelegate">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="fecha_Actual">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="saludo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="sumar">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<!-- URL FISICA DEL SERVICIO -->
	<service name="Servicio_WebService">
		<port binding="tns:Servicio_WebPortBinding" name="Servicio_WebPort">
			<soap:address
				location="http://localhost:8080/servicios-ws-inicial/Servicio_WebPort" />
		</port>
	</service>
</definitions>
